h2{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

p, ul{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: clamp(0.5rem, calc(2vw + 1rem), 4rem);
}

ul{
    list-style-type: none;
    padding: 0;
}

ul > li > a:hover {
   text-decoration: none;
}

.col > h2, .col > h3, .col > p, .col > ul {
    text-align: center;
}