h2{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

p, ul{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: clamp(0.5rem, calc(2vw + 1rem), 1.5rem);
}

ul{
    list-style-type: none;
    padding: 0;
}

ul > li > a:hover {
   text-decoration: none;
}
